

<p> <div class="name"> <%= @artist.name %> </div></p>
 <p>  <div class="name"> <%= @artist.email %> </div></p>



<div class="profile_pic">
  <%= link_to image_tag(@artist.profile_picture.thumb.url), @artist.profile_picture.detail.url %> 
</div>
</p>


    <div class="slidshow_layout">

    <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <input type="radio" id="button-3" name="controls"/>
        <label for="button-3"></label>
        <input type="radio" id="button-4" name="controls"/>
        <label for="button-4"></label>
        <input type="radio" id="button-5" name="controls"/>
        <label for="button-5"></label>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <label for="button-3" class="arrows" id="arrow-3">></label>
        <label for="button-4" class="arrows" id="arrow-4">></label>
        <label for="button-5" class="arrows" id="arrow-5">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <%= link_to image_tag(@artist.show.thumb.url), @artist.show.detail.url if @artist.show.detail.url %>
                   
                    <div class="description">
                        <input type="checkbox" id="show-description-1"/>
                    </div>
                </li>
                <li id="slide2">
                    <%= link_to image_tag(@artist.show2.thumb.url), @artist.show2.detail.url if @artist.show.detail.url %>                
                        <div class="description">
                        <input type="checkbox" id="show-description-2"/>
                    </div>
                </li>
                <li id="slide3">
                        <%= link_to image_tag(@artist.show3.thumb.url), @artist.show3.detail.url if @artist.show.detail.url %>
                        <div class="description">
                        <input type="checkbox" id="show-description-3"/>
                    </div>
                </li>
                <li id="slide4">
                        <%= link_to image_tag(@artist.show4.thumb.url), @artist.show4.detail.url if @artist.show.detail.url %>
                        <div class="description">
                        <input type="checkbox" id="show-description-4"/>
                    </div>
                </li>
                <li id="slide5">
                        <%= link_to image_tag(@artist.show5.thumb.url), @artist.show5.detail.url if @artist.show.detail.url  %>
                        <div class="description">
                        <input type="checkbox" id="show-description-5"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class ="bio">
<%= @artist.bio %>
</div>




    <div class ="view_songs">
<p>
<div class="song"><%= render partial: "shared/songs", locals: {songs: @artist.songs} %></div> 
</p>

    </div>





  <div class="user_background">   <%= link_to image_tag(@artist.background.url) if @artist.background.url %></div>

