

<div class="listing_artist">  <h1>Current active artists</h1>

<div class="search">

<%= search_form_for @q do |f| %>
  <%= f.label :Search_for_artist %>
  <%= f.text_field :name_cont %>
  
  <%= f.submit %>

<% end %> 

</div>

</div>
 


  
<% @artists.each do |artist| %>
 <div class="span3">

   <p> <%= artist.name %>
    <%= artist.age %></p>
    <p><%= artist.city %></p>
   <p> <%= artist.genre %></p>

    <%= link_to 'Show', artist %>
    </div>

<% end %>

<br />
