<div class="stage"> </div>

<div class="listing_artist"> 
<p class="bg-primary">Discover your DJ</p>
</div>

<div class="search">

<%= search_form_for @q do |f| %>
  <p><%= f.text_field :name_cont, :placeholder => "Search for an artist via name" %></p>
  
  <p><%= f.submit %></p>

<% end %> 

</div>

 


  
<% @artists.each do |artist| %>
 <div class="span3">
     <div class="artist_profile">  <img src="<%= artist.profile_picture.thumb %>"> </div>

   <p> <%= artist.name %> </p>
    <p><%= artist.city %></p>
   <p> <%= artist.genre %></p>

    <%= link_to 'Show', artist %>
    </div>

<% end %>

<br />
