

<div class="listing_artist">  <h1>Current active artists</h1>

<div class="search">

<%= search_form_for @q do |f| %>
  <%= f.label :Search_for_artist %>
  <%= f.text_field :name_cont %>
  
  <%= f.submit %>

<% end %> 

</div>

</div>
 



  
<% @artists.each do |artist| %>
 
    <%= artist.name %>
    <%= artist.age %>
    <%= artist.city %>
    <%= artist.genre %>

    <%= link_to 'Show', artist %>
    
<% end %>

<br />

