

<div class="listing_artist">  <h1>Current active artists</h1>

<div class="search">

<%= search_form_for @q do |f| %>
  <%= f.label :Search_for_artist %>
  <%= f.text_field :name_cont %>
  
  <%= f.submit %>

<% end %> 

</div>

</div>
 
  <div class="registered_artist">



<table>
  <tr>
    <th> Name </th>
    <th> Age </th>
    <th> City </th>
    <th> Genre </th>

  </tr>

  
<% @artists.each do |artist| %>
  <tr>
    <td><%= artist.name %></td>
    <td><%= artist.age %></td>
    <td><%= artist.city %></td>
    <td><%= artist.genre %></td>

    <td><%= link_to 'Show', artist %></td>
    
  </tr>
<% end %>
</table>
  </div>

<br />


