<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "homestyle.css" %>
  <%= stylesheet_link_tag "featured.css" %>

 </head>
<body>

  <!-- SCM Music Player http://scmplayer.net -->
<script type="text/javascript" src="http://scmplayer.net/script.js" 
data-config="{'skin':'skins/black/skin.css','volume':51,'autoplay':true,'shuffle':true,'repeat':1,'placement':'top','showplaylist':false,'playlist':[]}" ></script>
<!-- SCM Music Player script end -->

  <div class="wrap">
  
  <nav>
    <ul class="menu">
      <li><%= link_to current_user do %>
            <span class="iconic home"></span> Home
        <% end %></li>

      <li><%= link_to artists_path  do %>
          <span class="iconic plus-alt"></span> Discover
          <% end %>
      </li>
      <% if current_user %>
       <li> <%= link_to '/featured' do %>
      <span class="iconic magnifying-glass"></span> Featured
        <% end %>
      </li>
      <%end%>

      <li><a href="#"><span class="iconic mail"></span> Genres</a>
        <ul>
          <li><a href="#">Hip Hop</a></li>
          <li><a href="#">Pop</a></li>
          <li><a href="#">Other</a></li>

        </ul>
      </li>    

  <div class="wave"> </div>
      <% if current_user %>
      <li><%= link_to edit_artist_path(current_user) do %>
        <span class="iconic mail"></span> Settings
      </li> 
      <% end %>
      <% end %>

    </ul>

<% if current_user %>
hello, <%= current_user.email %>
  <%= link_to 'logout', destroy_session_path(0), method: :delete%>
<% else %>
    <%=link_to 'Signup', new_artist_path %>
  <%=link_to 'login', new_session_path %>
<% end %>
    <div class="clearfix"></div>


  </nav> 
  </div>

<!--   <div class="user_background">   <%#= link_to image_tag(@artist.background.url), @artist.background.url %></div>
 -->
  <div class="wrapper"> 

          <%= yield %>

          <%= javascript_include_tag "application" %>


  </div>


</body>
</html>
