<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <b>Year:</b>
  <%= @song.year %>
</p>

Comment: <% @song.comments.each do |comment| %>
        <p> <%= comment.created_at %> </p>
        <p> <%= comment.artist.name %> </p> 

        <p> <%= comment.comment %> </p> 

        <% end %>

  <audio controls>
  <source src="<%= @song.filename %>" type="audio/ogg">
  Your browser does not support the audio element.
</audio>
  <a href="<%= @song.filename %>"> Download Audio </a>



<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>

<%= link_to 'New Comment', new_song_comment_path(@song) %>

