<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <b>Year:</b>
  <%= @song.year %>
</p>

Comment: <% @song.comments.each do |comment| %>
        <%= comment.created_at %> 
        <%= comment.artist.name %>  

     <div class="comment">   <p> <%= comment.comment %> </p>  </div>
      

  <audio controls>
  <source src="<%= @song.filename %>" type="audio/ogg">
  Your browser does not support the audio element.
</audio>
  <a href="<%= @song.filename %>"> Download Audio </a>

  <p><%= link_to 'Edit Comment', edit_song_comment_path(@song, comment) %> 
     <%= link_to 'Delete Comment', song_comment_path(@song, comment), method: :delete %> </p>


        <% end %>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>

<%= link_to 'New Comment', new_song_comment_path(@song) %>

