
<% songs.each do |song| %>
  <tr>
  <p>  <td><%= song.title %></td> </p>
   </p> <td><%= song.year %></td></p>
<!--     <td><%= song.filename %></td> -->
   <p> <td>
      <button class="song" 
        data-title="<%= song.title %>"
        data-filename="<%= song.filename %>"
      >
        Add to Playlist
      </button> </p>
    </td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

