


<% songs.each do |song| %>
  <div class="songs">
<table>
    <tr>

   <td> <div id="itunes_image"> <img src="/assets/itunes.png" height="42" width="42"> </div> </td>

   <td> <div id="song_title">&nbsp&nbsp <%= song.title %>  </div></td>

   <td> <div id="song_year">&nbsp&nbsp <%= song.year %> </div></td>




   



     <td>&nbsp&nbsp<%= link_to 'Edit', edit_song_path(song) %> </td>
     <td>&nbsp&nbsp<%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp&nbsp</td>

        <td> <p></p>
           <p><audio controls>
            <source src="<%= song.filename %>" type="audio/ogg">
            Your browser does not support the audio element.
           </audio></p>
        </td>

</tr>
   </table>
    


  


<% end %>

